<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>admin</servlet-name>
        <jsp-file>/admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>JsonHeatMap</servlet-name>
        <servlet-class>com.controller.webServices.JsonHeatMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeatmapServlet</servlet-name>
        <servlet-class>com.sloca.controller.HeatmapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BootstrapServlet</servlet-name>
        <servlet-class>com.sloca.controller.BootstrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularPlacesServlet</servlet-name>
        <servlet-class>com.sloca.controller.PopularPlacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanionsServlet</servlet-name>
        <servlet-class>com.sloca.controller.CompanionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoGroupDetectServlet</servlet-name>
        <servlet-class>com.sloca.controller.AutoGroupDetectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextPlaceServlet</servlet-name>
        <servlet-class>com.sloca.controller.NextPlaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupPopularPlacesServlet</servlet-name>
        <servlet-class>com.sloca.controller.GroupPopularPlacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupNextPlacesServlet</servlet-name>
        <servlet-class>com.sloca.controller.GroupNextPlacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKPopularPlaces</servlet-name>
        <servlet-class>com.controller.webServices.JsonTopKPopularPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonBootstrap</servlet-name>
        <servlet-class>com.controller.webServices.JsonBootstrap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonBasicLocReport</servlet-name>
        <servlet-class>com.controller.webServices.JsonBasicLocReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKCompanions</servlet-name>
        <servlet-class>com.controller.webServices.JsonTopKCompanions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKGroupPopularPlaces</servlet-name>
        <servlet-class>com.controller.webServices.JsonTopKGroupPopularPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKGroupNextPlaces</servlet-name>
        <servlet-class>com.controller.webServices.JsonTopKGroupNextPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonAutoDetect</servlet-name>
        <servlet-class>com.controller.webServices.JsonAutoDetect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonArraySorter</servlet-name>
        <servlet-class>com.controller.webServices.JsonArraySorter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonTopKNextPlaces</servlet-name>
        <servlet-class>com.controller.webServices.JsonTopKNextPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonUpdate</servlet-name>
        <servlet-class>com.controller.webServices.JsonUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JsonAuthenticate</servlet-name>
        <servlet-class>com.controller.webServices.JsonAuthenticate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeatmapServlet</servlet-name>
        <url-pattern>/Heatmap.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularPlacesServlet</servlet-name>
        <url-pattern>/PopularPlaces.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanionsServlet</servlet-name>
        <url-pattern>/Companions.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoGroupDetectServlet</servlet-name>
        <url-pattern>/autogroup.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextPlaceServlet</servlet-name>
        <url-pattern>/nextplace.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupPopularPlacesServlet</servlet-name>
        <url-pattern>/group-popular-places.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupNextPlacesServlet</servlet-name>
        <url-pattern>/group-next-places.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKPopularPlaces</servlet-name>
        <url-pattern>/json/top-k-popular-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonHeatMap</servlet-name>
        <url-pattern>/json/heatmap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBootstrap</servlet-name>
        <url-pattern>/json/bootstrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonAuthenticate</servlet-name>
        <url-pattern>/json/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonBasicLocReport</servlet-name>
        <url-pattern>/json/basic-loc-report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKCompanions</servlet-name>
        <url-pattern>/json/top-k-companions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKGroupPopularPlaces</servlet-name>
        <url-pattern>/json/top-k-group-popular-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKGroupNextPlaces</servlet-name>
        <url-pattern>/json/top-k-group-next-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonTopKNextPlaces</servlet-name>
        <url-pattern>/json/top-k-next-places</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonAutoDetect</servlet-name>
        <url-pattern>/json/group_detect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonArraySorter</servlet-name>
        <url-pattern>/json/array_sorter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JsonUpdate</servlet-name>
        <url-pattern>/json/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BootstrapServlet</servlet-name>
        <url-pattern>/bootstrap</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
